<div class="form-box">
  <div class="head">Edit <%= resource_name.to_s.humanize %></div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => 'login-form', method: :put}) do |f| %>
      <%= devise_error_messages! %>

      <div class="my-form-group">
        <label class="my-label-control">
          <span class="my-label-text">Email</span>
        </label>
        <%= f.email_field :email, autofocus: true, class: 'my-form-control' %>
      </div>

      <div class="my-form-group">
        <label class="my-label-control">
          <span class="my-label-text">New password</span>
        </label>
        <%= f.password_field :password, autocomplete: 'off', class: 'my-form-control' %>
      </div>

      <div class="my-form-group">
        <label class="my-label-control">
          <span class="my-label-text">Password confirmation</span>
        </label>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'my-form-control' %>
      </div>

      <div class="my-form-group">
        <label class="my-label-control">
          <span class="my-label-text">Current password <sup>(we need your current password to confirm your changes)</sup></span>
        </label>
        <%= f.password_field :current_password, autocomplete: 'off', class: 'my-form-control' %>
      </div>

      <%= f.submit 'Update', class: 'login-btn'%>

        <h4>Unhappy? :( </h4>
          <p><%= link_to 'Delete my account', registration_path(resource_name),class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' }, method: :delete %>
          </p>
      <%= link_to 'Back', :back, class: 'btn btn-default links' %>

  <% end %>
</div>