<div id="logo-section" class="logo-section">
  <img id="header-logo-image" src="/everlabs_logo.png" alt="Ruby on Rails"/>
</div>

<div class="container parallax-window">
  <%= form_for @resume do |f| %>
  <div class="row">
    <div class="col-md-4">
      <% if @resume.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this article from being saved:</h2>
            <ul>
              <% @resume.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>
  </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 card">
          <div class="text-center"><h4>Basic information</h4></div>
          <hr>
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <%= f.label 'Name' %>
              <%= f.text_field :name, class: 'form-control colored-input' %>
            </div>

            <div class="form-group">
              <%= f.label 'General information' %>
              <%= f.text_area :general_info, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label 'Interests' %>
              <%= f.text_field :interests, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label 'Image' %>
              <%= f.file_field :avatar, class: 'form-control-file' %>
            </div>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 card">
          <div id="skills">
            <div class="text-center"><h4>Skills</h4></div>
            <hr>
            <%= f.fields_for :skills do |skill| %>
                <%= render 'skill_fields', f: skill %>
            <% end %>
            <div class="text-right">
              <%= link_to_add_association '+', f, :skills, class: 'btn btn-primary btn-xs' %>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-10 col-md-offset-1 card">
          <div class="text-center"><h4>Project Experience</h4></div>
          <hr>
          <div id="projects">
            <%= f.fields_for :projects do |project| %>
                <%= render 'projects_fields', f: project %>
            <% end %>
            <div class="text-right">
              <%= link_to_add_association '+', f, :projects, partial: 'projects_fields', class: 'btn btn-primary btn-xs' %>
            </div>

          </div>
        </div>

        <div class="col-md-10 col-md-offset-1 card">
          <div class="text-center"><h4>Job Experience</h4></div>
          <hr>
          <div id="jobs">
            <%= f.fields_for :jobs do |job| %>
                <%= render 'jobs_fields', f: job %>
            <% end %>
            <div class="text-right">
              <%= link_to_add_association '+', f, :jobs, partial: 'jobs_fields', class: 'btn btn-primary btn-xs' %>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 card">
          <div class="text-center"><h4>Education</h4></div>
          <hr>
          <div id="education">
            <%= f.fields_for :educations do |education| %>
              <%= render 'educations_fields', f:education %>
            <% end %>

            <div class="text-right">
              <%= link_to_add_association '+', f, :educations, partial: 'educations_fields', class: 'btn btn-primary btn-xs' %>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 card">
          <div class="text-center"><h4>Languages</h4></div>
          <hr>
          <div class="col-md-6 col-md-offset-3">
            <div id="languages">
              <%= f.fields_for :languages do |language| %>
                  <%= render 'languages_fields', f: language %>
              <% end %>

              <div class="text-right">
                <%= link_to_add_association '+', f, :languages, partial: 'languages_fields', class: 'btn btn-primary btn-xs' %>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="links">
        <%= f.submit class: 'btn btn-primary pull-right margin' %>
        <%= link_to 'Back', resumes_path, class: 'btn btn-default pull-right margin' %>
        <% end %>
      </div>

</div>