<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= form_for @resume do |f| %>
          <% if @resume.errors.any? %>
              <div id="error_explanation">
                <h2>
                  <%= pluralize(@resume.errors.count, "error") %> prohibited
                  this article from being saved:
                </h2>
                <ul>
                  <% @resume.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <form>
            <fieldset class="form-group">
              <%= f.label 'Name' %>
              <%= f.text_field :name, class: 'form-control' %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.label 'General information' %>
              <%= f.text_area :general_info, class: 'form-control' %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.label 'Image' %>
              <%= f.file_field :avatar, class: 'form-control-file' %>
            </fieldset>
            <%= f.submit class: 'btn btn-primary pull-right margin' %>
            <%= link_to 'Back', resumes_path, class: 'btn btn-default pull-right margin' %>
          </form>
    </div>
          <div class="col-md-4">
            <h4>Skills & Competences <%= link_to 'Add skill', new_resume_skill_path(@resume), class: 'btn btn-primary' %></h4>
            <% @resume.skills.each do |skill| %>
                  <p><strong>Section: </strong>
                  <%= skill.section %></p>
                <p><strong>Title: </strong>
                  <%= skill.title %></p>
                <p><strong>Percent: </strong>
                  <%= skill.percent %>%</p>
                <%= link_to 'Edit', edit_resume_skill_path(@resume, skill), class: 'btn btn-warning btn-xs' %>
                <%= link_to 'Delete', resume_skill_path(@resume, skill), class: 'btn btn-danger btn-xs' , method: :delete, data: {confirm: "Are you sure?"}%>
                <% end %>
          </div>
  </div>
  <div class="custom-hr"></div>

      <% end %>
</div>