<div class="container">
  <%= form_for @resume do |f| %>
  <div class="row">
    <div class="col-md-4">
      <% if @resume.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this article from being saved:</h2>
            <ul>
              <% @resume.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>
  </div>
      <div class="row">
        <div class="col-md-2">
          <div class="text-center">Basic information</div>
          <div class="form-group">
            <%= f.label 'Name' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label 'General information' %>
            <%= f.text_area :general_info, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label 'Image' %>
            <%= f.file_field :avatar, class: 'form-control-file' %>
          </div>
        </div>

        <div class="col-md-5">
          <div class="text-center">Skills</div>
          <div id="skills">
            <%= f.fields_for :skills do |skill| %>
                <%= render 'skill_fields', f: skill %>
            <% end %>
            <div class="col-md-3">
              <%= link_to_add_association 'Add skill', f, :skills, partial: 'skill_fields', class: 'btn btn-primary' %>
            </div>

          </div>
        </div>

        <div class="col-md-4">
            <div class="text-center">Languages</div>
            <div id="languages">
              <%= f.fields_for :languages do |language| %>
                  <%= render 'languages_fields', f: language %>
              <% end %>

              <div class="col-md-5">
                <%= link_to_add_association 'Add language', f, :languages, partial: 'languages_fields', class: 'btn btn-primary' %>
              </div>
          </div>

        </div>

      </div>

      <div class="custom-hr"></div>

      <div class="row margin">
        <div class="col-md-12">
          <div class="text-center">Project Experience</div>
          <div id="projects">
            <%= f.fields_for :projects do |project| %>
                <%= render 'projects_fields', f: project %>
            <% end %>

            <div class="col-md-3">
              <%= link_to_add_association 'Add project', f, :projects, partial: 'projects_fields', class: 'btn btn-primary margin' %>
            </div>
          </div>
        </div>

      </div>

      <div class="custom-hr"></div>

      <%= f.submit class: 'btn btn-primary pull-right margin' %>
      <%= link_to 'Back', resumes_path, class: 'btn btn-default pull-right margin' %>
      <% end %>

</div>