<div class="nested-fields form-horizontal">

    <div class="form-group col-md-6">
      <label class=" text-center">Date from</label>
        <%= f.text_field :date_from, class: 'form-control input-xs datetimepicker' %>
        <label class="text-center">Date to</label>
        <%= f.text_field :date_to, class: 'form-control input-xs datetimepicker' %>
    </div>

    <div class="form-group col-md-6">
      <label class="text-center">Position</label>
      <%= f.text_field :position, class: 'form-control input-xs margin-inputs'%>
      <label class="text-center">Company</label>
      <%= f.text_field :firm, class: 'form-control input-xs margin-inputs'%>
    </div>

    <div class="form-group col-md-11">
      <label class="text-center">Place</label>
      <%= f.text_field :place, class: 'form-control input-xs'  %>
    </div>

  <div class="form-group col-md-1">
    <label class="text-center"></label>
    <%= link_to_remove_association 'remove', f, class: 'btn btn-danger btn-xs pull-right' %>
  </div>

  <hr class="col-md-10 col-md-offset-1">

</div>

<script type="text/javascript">
  $(function () {
    $('.datetimepicker').datetimepicker({
      viewMode: 'years',
      format: 'MM/YYYY'
    });
  });
</script>

