<div class="nested-fields form-horizontal">

  <div class="col-md-6">
      <%= f.text_field :date_from, class: 'ever-inputs datetimepicker', placeholder: 'Date from' %>
      <%= f.text_field :date_to, class: 'ever-inputs datetimepicker', placeholder: 'Date to' %>
  </div>

  <div class="col-md-6 ">
    <%= f.text_field :client, class: 'ever-inputs', placeholder: 'Client'  %>
    <%= f.text_field :role, class: 'ever-inputs', placeholder: 'Role in project'  %>
  </div>

  <div class="col-md-6">
    <%= f.text_area :description, class: 'ever-inputs', placeholder: 'Project description' %>
  </div>

  <div class="col-md-6">
    <%= f.text_area :technologies, class: 'ever-inputs', placeholder: 'Used technologies' %>
    <%= link_to_remove_association 'remove', f, class: 'btn btn-danger btn-xs pull-right title' %>
  </div>

  <hr class="col-md-10 col-md-offset-1">

</div>

<script type="text/javascript">
  $(function () {
    $('.datetimepicker').datetimepicker({
      viewMode: 'years',
      format: 'MM/YYYY'
    });
  });
</script>

