<div class="nested-fields form-horizontal">

  <div class="col-md-3">
    <%= f.text_field :section, class: 'ever-inputs', placeholder: 'Section'%>
  </div>
  <div class="col-md-3 ">
    <%= f.text_field :title, class: 'ever-inputs', placeholder: 'Title' %>
  </div>
  <div class="col-md-3 ">
    <%= f.text_field :color, class: 'ever-inputs color-picker', placeholder: 'Color' %>
  </div>
  <div class="col-md-3">
    <%= f.text_field :percent, class: 'ever-inputs', placeholder: 'Percent'  %>
    <%= link_to_remove_association 'remove', f, class: 'btn btn-danger btn-xs pull-right title' %>
  </div>

  <hr class="col-md-10 col-md-offset-1">

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.color-picker').colorpicker();
  })
</script>