<div class="container card" style="margin-top: 15px">
  <div class="row">
    <div class="col-md-4 col-md-offset-1 col-xs-5 col-xs-offset-1">
      <h3 class="worker-name"> <%= @resume.name %></h3>
      <p class="worker-info"><%= @resume.general_info %></p>
    </div>
    <div class="col-md-3 col-xs-5">
      <%= image_tag @resume.avatar.url(:small), class: 'circular' %>
    </div>
    <div class="col-md-3 col-xs-6">
      <img class="logo-section" src="/assets/images/everlabs_logo.png">
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <% if @resume.projects.any? %>
      <h4>Project Experience</h4>
        <% @resume.projects.each do |project| %>
          <div class="project-sections"></div>
          <div class="project-date project-fields">
            <%= DateTime.strptime(project.date_from, '%m/%Y').strftime('%B %Y') %> -
          <% if project.date_to.empty? %>
            for now
                <% else %>
            <%= DateTime.strptime(project.date_to, '%m/%Y').strftime('%B %Y') %>
                <% end %>

          <span style="display: block; color: #2E2F30"><strong>Client</strong>: <%= project.client %></span>
          </div>
          <div class="project-fields">
            <strong>Project description</strong>: <%= project.description %>
          </div>
          <div class="project-fields">
            <strong>Used technologies</strong>: <%= project.technologies %>
          </div>
          <div class="project-fields">
            <strong>Role in project</strong>: <%= project.role %>
          </div>
          <% end %>
      <% end %>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <% if @resume.skills.any? %>
      <h4>Skills & Competences</h4>
      <%= section = '' %>
      <% @resume.skills.order('section').order('percent DESC').each do |skill| %>
        <% if section != skill.section %>
          <h5><%= section = skill.section %></h5>
        <% end %>
          <div class="skillbar clearfix " data-percent="<%= skill.percent %>%">
            <div class="skillbar-title" style="background: <%= skill.color %> ;">
              <div class="skill-title"><%= skill.title %></div></div>
            <div class="skillbar-bar" style="background: <%= skill.change_color(skill.color) %>;"></div>
            <div class="skill-bar-percent"><%= skill.percent %>%</div>
          </div> <!-- End Skill Bar -->

      <% end %>
      <% end %>
    </div>

  </div>
  <div class="row">

    <div class="col-md-5 col-md-offset-1">
      <% if @resume.educations.any? %>
      <h4>Education</h4>
      <% @resume.educations.each do |education| %>
          <div class="project-sections-education"></div>
          <div class="project-date project-fields">
            <%= DateTime.strptime(education.date_from, '%m/%Y').strftime('%B %Y') %> -
            <% if education.date_to.empty? %>
                for now
            <% else %>
                <%= DateTime.strptime(education.date_to, '%m/%Y').strftime('%B %Y') %>
            <% end %>
            <span class="pull-right"><%= education.place %></span>
          </div>
          <% if education.level.empty? %>
              <div class="project-fields">
                <strong>Description</strong>: <%= education.description %>
              </div>
          <% else %>
              <div class="project-fields">
                <strong>Level</strong>: <%= education.level %>
              </div>
              <div class="project-fields">
                <strong>Description</strong>: <%= education.description %>
              </div>
              <% end %>
          <% end %>
      <% end %>

    </div>

    <div class="col-md-4 col-md-offset-1">
      <% if @resume.languages.any? %>
      <h4>Languages</h4>
      <% @resume.languages.each do |language| %>
          <p><span><%= language.name%>: </span>
            <span><%= language.level %></span></p>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <% if @resume.jobs.any? %>
      <h4>Job Experience</h4>
      <% @resume.jobs.each do |job| %>
          <div class="project-sections"></div>
          <div class="project-date project-fields">
            <%= DateTime.strptime(job.date_from, '%m/%Y').strftime('%B %Y') %> -
            <% if job.date_to.empty? %>
                for now
            <% else %>
                <%= DateTime.strptime(job.date_to, '%m/%Y').strftime('%B %Y') %>
            <% end %>
            <span class="pull-right"> <%= job.place %></span>

            <span style="display: block; color: #2E2F30"><strong>Company</strong>: <%= job.firm %></span>
          </div>
          <div class="project-fields">
            <strong>Position</strong>: <%= job.position %>
          </div>
      <% end %>
      <% end %>
    </div>

    <div class="col-md-4 col-md-offset-1">
      <h4>Interests</h4>
      <span><%= @resume.interests %></span>
    </div>

  </div>

  <% if user_signed_in? && current_user.id == @resume.user_id %>
      <p class="pull-right">
        <%= link_to 'Back', :back, class: 'btn btn-default btn-sm' %>
        <%= link_to 'Edit', edit_resume_path, class: 'btn btn-warning btn-sm' %>
      </p>
      <% end %>

</div>









