<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <h3 class="worker-name"> <%= @resume.name %></h3>
      <p class="worker-info"><%= @resume.general_info %></p>
    </div>
    <div class="col-md-3">
      <%= image_tag @resume.avatar.url(:small), class: 'circular' %>
    </div>
    <div class="col-md-3 ">
      <img src="/assets/everlabs_logo.png" style="width: 300px">
    </div>
  </div>
  <div class="custom-hr"></div>

  <div class="row">
    <div class="col-md-4 margin">
      <h4>Work Experience</h4>
    </div>
    <div class="col-md-4 margin pull-right">
      <h4>Skills & Competences</h4>
      <% @resume.skills.order(:section, percent: :desc).each do |skill| %>

          <h5><%= skill.section %></h5>
          <div class="skillbar clearfix " data-percent="<%= skill.percent %>%">
            <div class="skillbar-title" style="background: #2980b9;"><span><%= skill.title %></span></div>
            <div class="skillbar-bar" style="background: #3498db;"></div>
            <div class="skill-bar-percent"><%= skill.percent %>%</div>
          </div> <!-- End Skill Bar -->

      <% end %>
    </div>
  </div>

  <%= link_to 'Delete', resume_path,class: 'btn btn-danger pull-right margin', method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to 'Edit', edit_resume_path, class: 'btn btn-warning pull-right margin' %>
  <%= link_to 'Back', resumes_path, class: 'btn btn-default pull-right margin' %>
</div>









