<!DOCTYPE html>
<html>
<head>
  <title>CvApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="logo-section" class="logo-section">
  <img id="header-logo-image" src="/assets/everlabs_logo.png" alt="Ruby on Rails"/>
</div>

<hr>

<h1 class="title">EverTeam <%= link_to 'Create resume', new_resume_path, class: 'btn btn-info' %></h1>

<%= yield %>

</body>
</html>
